<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FFMS</title>

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />

    <!-- Load Leaflet from CDN -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
    integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
    crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster-src.js"
    crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster-src.js"
    crossorigin=""></script>  
    <script src="https://unpkg.com/mapbox-gl/dist/mapbox-gl.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector/dist/esri-leaflet-vector-debug.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/graph.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/javascripts/angular-1.8.0/angular.min.js"></script>
    <link rel="icon" href="/images/fire.png">


    <input id="radio1" type="radio" name="css-tabs" onclick="window.location='/contact'">
    <input id="radio2" type="radio" name="css-tabs" checked>
    <input id="radio3" type="radio" name="css-tabs" onclick="window.location='/graph'">
    <input id="radio4" type="radio" name="css-tabs" onclick="window.location='/'">
    <div id="tabs">
      <img src="/images/logo.png">
      <h4 class="textheader1">FFMS      
        <label id="tab1" for="radio1">ติดต่อ</label>
        <label id="tab2" for="radio2">แนวโน้ม</label>
        <label id="tab3" for="radio3">สถิติ</label>
        <label id="tab4" for="radio4">หน้าหลัก</label></h4>
      <h1 class="textheader2">Forest Fire Monitoring System With Hotspot Data From Satellite Images</h1>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <canvas id="line-chart" width="600" height="250"></canvas>
    
    <div class="container d-flex justify-container-center">

    <div class="footer"></div>


    <script>
      var app = angular.module('FFMS', []);
      app.controller('IndexController', function($scope, $http) {});
    </script>

  </head>
  <body ng-app='FFMS' ng-controller='IndexController'>
    <script>
        
      var Bangkok = new Date().toLocaleString("th", {timeZone: "Asia/Bangkok"});
      var now = new Date();
      var Y = now.getFullYear();
      var Yold = Y-1;
        this.count = <%- count %>;
        var cc = [];
        for(i=0;i<=23;i++){
            cc[i] = parseInt(count[i].month);
        }

        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"],
                datasets: [{ 
                    data: [cc[0], cc[1], cc[2], cc[3], cc[4], cc[5], cc[6], cc[7], cc[8], cc[9], cc[10], cc[11]],
                    label: "ปี "+Yold,
                    borderColor: "#3e95cd",
                    fill: false
                }, { 
                    data: [cc[12], cc[13], cc[14], cc[15], cc[16], cc[17], cc[18], cc[19], cc[20], cc[21], cc[22], cc[23]],
                    label: "ปี "+Y,
                    borderColor: "#8e5ea2",
                    fill: false
                }
                ]
            },
                options: {
                title: {
                    display: true,
                    text: 'แนวโน้มในปี '+Yold+'-'+Y
                }
            }
            });

    
    </script>
  </body>
</html>
