#hidden_chiangmai {
    display: none;
  }

#hidden_chiangrai {
    display: none;
  }

#hidden_lumpang{
    display: none;
  }

#hidden_lamphun{
    display: none;
  }

#hidden_maehongson{
    display: none;
  }

#hidden_nan{
    display: none;
  }

#hidden_phayao{
    display: none;
  }

#hidden_phrae{
    display: none;
  }

#hidden_uttaradit{
    display: none;
  }

#hidden_QRchiangrai{
    display: none;
  }